# Remote Syslog Support (optional)
# Syslog Server URL should be formatted as either tcp:// or udp://
# based on your syslog server settings.
SYSLOG_SERVER_ADDRESS='tcp://foo.bar:514'

# Extra Environment Variables

ENV_VAR1='foo'
ENV_VAR2='bar'